.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-field ,.form-field-syl:nth-child(3n-2){
    margin: 0 1.5%;
}

.form-field {
    width: 30%;
}

.submit{
   background-color:  #3085d6;
   margin-right: 10px;
}

.cancel{
    background-color:  #d33;
}

.syl{
    width: 100%;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media (max-width: 900px) {
    .form-field ,.form-field-syl:nth-child(2n-1){
        width: 45%;
        margin: 0 1.5%;
    }
}

@media (max-width: 600px) {
    .form-field,.form-field-syl:nth-child(n) {
        width: 100%;
        margin: 0 1.5%;
    }
     
    /* .form-field-syl:nth-child(2n-1){
        margin-left: 0;
    } */
}