<mat-expansion-panel [class.nextWeek]="checkDate()">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <img src={{course.image}} alt={{course.name}} />
        </mat-panel-title>
        <mat-panel-description>
            <b>{{ course.name}}</b>
            Number of Lessons: {{course.lessonsCount}}
            <br>
            Instruction Mode: {{course.instructionMode}}
        </mat-panel-description>
    </mat-expansion-panel-header>

    <course-details [course]="course"></course-details>
</mat-expansion-panel>