<mat-expansion-panel [class.nextWeek]="checkDate()" [disabled]="!isLoggedIn()">
    <mat-expansion-panel-header>
        <mat-panel-title>
            <img src={{course.image}} alt={{course.name}} />
        </mat-panel-title>
        <mat-panel-description>
            <b>{{ course.name}}</b>
           {{course.lessonsCount}} Lessons
            <mat-icon class="pipe-icon">{{course.instructionMode | icon}}</mat-icon>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <course-details [course]="course"></course-details>
</mat-expansion-panel>