mat-accordion {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

course-card {
    width: 30%;
    margin-bottom: 10px;
}

.search-input {
    width: 30%;
}

mat-button-toggle-group {
    margin-top: 3px;
    height: 50px;
    border-radius: 25px
}

.filters {
    background-color: #8beaf5;
    padding-top: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

mat-icon{
    color: #4e5fbb;
}

.btn-action{
    border-radius:25px;
    border:2px solid #4e5fbb;
    margin: 5px;
    padding-right: 20px;
}


@media (max-width: 900px) {
    course-card {
        width: 45%;
    }
}

@media (max-width: 600px) {
    course-card {
        width: 100%;
        margin: 0;
    }
}